# Requires GitHub secrets
# - GH_TOKEN
# - PYPI_TOKEN

name: CD

on:
  push:
    branches: ["main"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - name: Checkout repository
        id: checkout-repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python
        id: install-python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
          architecture: x64

      - name: Install dependencies
        id: install-dependencies
        run: |
          python -m pip install -U pip setuptools poetry
          python -m poetry install

      - name: Semantic release
        id: semantic-release
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          python -m poetry run semantic-release publish -D commit_author="github-actions <github-actions@github.com>" -v DEBUG

      - name: Build package
        id: build-package
        run: python -m poetry build

      - name: Publish package
        id: publish-package
        run: |
          python -m poetry run twine upload dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN }} --skip-existing --verbose
