# Requires GitHub secrets
# - GH_TOKEN
# - PYPI_TOKEN

name: Release

on:
  push:
    branches: ["main"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          architecture: x64

      - name: Install dependencies
        run: |
          python -m pip install -U poetry==2.2.0 twine
          python -m poetry install --only main

      - name: Semantic release
        uses: python-semantic-release/python-semantic-release@v10.5.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}

      - name: Build package
        run: python -m poetry build

      - name: Publish package
        run: |
          python -m poetry run twine upload dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN }} --skip-existing --verbose
