# Requires GitHub secrets
# - CODECOV_TOKEN

name: Tests

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

defaults:
  run:
    shell: bash

jobs:
  tests-matrix:
    name: OS ${{ matrix.os.name }} / Python ${{ matrix.python-version }} / poetry ${{ matrix.poetry-version }}
    runs-on: ${{ matrix.os.image }}
    strategy:
      matrix:
        os:
          - name: Ubuntu
            image: ubuntu-22.04
        python-version: ["3.9", "3.13"]
        poetry-version: ["1.7.0", "2.2.0"]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install "poetry==${{ matrix.poetry-version }}"

      - name: Install dependencies
        run: |
          python -m poetry install --no-interaction --only main --only tests

      - name: Run tests
        id: run-tests
        run: |
          python -m poetry run pytest

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: OS ${{ matrix.os.name }} / Python ${{ matrix.python-version }} / poetry ${{ matrix.poetry-version }}
